body{
    background-color:rgb(244,244,246) !important;
    font-family: 'Century Gothic';
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color:black;
}
input[type='button']:hover{
    cursor: pointer;
}
input[type='submit']:hover{
    cursor: pointer;
}
input[type='reset']:hover{
    cursor: pointer;
}
select:not(#selectByTitle){
    border: 1px solid #e0e0e0; padding: 10px 2.5%;
}
/* *All Using */





/*mobile*/
@media screen and (max-width: 767px) {
    /*header*/
    header div.logorab, section:not(section.mainContainer),article.aboutContainer, footer{
        max-width: 1480px;
        margin: 0 auto;
    }
    header {
        padding-top: 40px;
        width: 100%;
        background-color: rgb(244,244,246);
        z-index: 999;
    }
    header::after {
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header div.logorab{
        position: relative;
    }
    header div.logorab h1{
        margin-bottom: 15px;
        max-width: 280px;
        margin-left:2%;
        width: 70%;
    }
    header div.logorab h1 a{
        display: block;
    }
    header div.logorab h1 a img{
        width: 100%;
    }
    header nav > ul{
        position: relative;
        padding-left:2%;
        width:98%;
        font-size:11px;
        letter-spacing: -1px;
    }
    header nav > ul li{
        display: inline-block;
        line-height: 40px;
        padding-right:5px;
    }
    header nav > ul > li a{
        display: block;
    }
    header nav > ul > li ul{
        position: absolute;
        padding-left:2%;
        width: 98%;
        top: 40px;
        left: 0;
        background-color: white;
        display: none;
    }
    header nav > ul > li:hover ul{
        display: block;
    }
    header div.subrab {
        position: absolute;
        right:5%;
        top:2%;
        width:9%;
        min-width:56px;
    }
    header div.subrab a {
        display: inline-block;
    }
    header div.subrab form{
        vertical-align: middle; display: none;
    }
    header div.subrab fieldset{
        position:relative;
        border-bottom:1px solid black;
        margin-right: 30px;
    }
    header div.subrab fieldset input[type='text']{
        background-color:transparent;
        border:none;
    }
    header div.subrab fieldset input[type='submit']{
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        background-image: url('../images/search.png');
        background-size:100% 100%;
        width:20px;
        height:20px;
        position:absolute;
    }
    header div.subrab a.material-icons{
        width:25px; height:25px;  display: inline-block; vertical-align: middle;
    }
    header div.subrab > input[type='button']{
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        background-image: url('../images/cart.png');
        background-size:100% 100%;
        width:20px;
        height:20px;
        margin-left:2%;
    }

    header aside{
        display: none;
    }

    header aside.active {
        width:100%;
        height: 1000px;
        background-color: rgb(244,244,246);
        position: absolute;
        right:0;
        z-index: 9;
        display: block;
    }
    header aside.active input[type='button'].btn_close{
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        background-image: url('../images/cancel.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        padding: 25px;
        display: block;
        margin-left: auto;
    }
    header aside.active h2 {
        font-size: 24px;
        text-align: center;
        border-top:1px solid black;
        border-bottom: 1px solid black;
        padding:15px 0 15px 0;
        margin-bottom:25px;
    }
    header aside.active#cartSidePanelEmpty p {
        text-align: center;
        margin-bottom:25px;
    }
    header aside.active#cartSidePanelEmpty input[type='button']:nth-child(4) {
        font-size: 20px;
        background-color: transparent;
        padding:15px;
        width:80%;
        margin-left:10%;
        box-sizing: border-box;
    }
    header aside.active#cartSidePanel ul li img{
        width:50%;
        min-width:265px;
        float:left;
    }
    header aside.active#cartSidePanel ul::after {
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header aside.active#cartSidePanel h2 {
        margin-bottom:0;
    }
    header aside.active#cartSidePanel ul li dl {
        padding-top: 45px;
    }
    header aside.active#cartSidePanel ul li dl dt {
        font-weight: 700;
        padding-bottom:25px;
    }
    header aside.active#cartSidePanel ul li dl dd {
        padding-bottom:25px;
    }
    header aside.active#cartSidePanel div.total {
        width:100%;
        height:5%;
        background-color: rgb(224, 224, 224);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:45px;
    }
    header aside.active#cartSidePanel a {
        width:70%;
        height: 5%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color:white;
        margin:0 auto;
    }


    /*footer*/
    footer {
        position:relative;
        background-color: rgb(244,244,246);
        z-index: 999;
    }
    footer::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer > div {
        width: 98%;
        font-size:15px;
        padding-left:2%;
    }
    footer > div::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer > div > h3 {
        font-weight: 700;
        border-bottom:1px solid rgb(221,221,221);
        padding:40px 0;
        cursor:pointer;
    }
    footer div:first-child {
        margin-top:20px;
    }
    footer > div:first-child > p:last-child {
        position:absolute;
        bottom:-40px;
    }
    footer > div:last-child {
        margin-bottom:50px;
    }
    footer div > ul > li {
        padding:40px 0 20px 0;
        display: none;
    }
    footer div > form{
        display: none;
    }
    footer div.active ul li {
        display: block;
    }
}





/*tablet*/
@media screen and (min-width: 768px) and (max-width:1279px){
    /*header*/
    header div.logorab, section:not(section.mainContainer),article.aboutContainer, footer{
        max-width: 1480px;
        margin: 0 auto;
    }
    header {
        padding-top: 40px;
        position: fixed;
        width: 100%;
        background-color: rgb(244,244,246);
        z-index: 999;
    }
    header::after {
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header div.logorab{
        position: relative; padding: 0 4%;
    }
    header div.logorab h1{
        text-align: left;
        margin-bottom: 15px;
        max-width: 385px;
    }
    header div.logorab h1 a{
        display: block;
    }
    header div.logorab h1 a img{
        width: 100%;
    }
    header nav > ul{
        position: relative; text-align: left;
    }
    header nav > ul li{
        display: inline-block; line-height: 60px; padding:0 4%;
    }
    header nav > ul > li a{
        display: block;
    }
    header nav > ul > li ul{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: white;
        display: none;
        text-align: center;
    }
    header nav > ul > li:hover ul{
        display: block;
    }
    header div.subrab {
        position:absolute;
        top:10px;
        right:2%;
        width:35%;
        min-width:265px;
        text-align: right;
    }
    header div.subrab form{
        display: inline-block; vertical-align: middle;
    }
    header div.subrab fieldset{
        position:relative;
        border-bottom:1px solid black;
        margin-right: 30px;
    }
    header div.subrab fieldset input[type='text']{
        background-color:transparent;
        border:none;
    }
    header div.subrab fieldset input[type='submit']{
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        background-image: url('../images/search.png');
        background-size:100% 100%;
        width:20px;
        height:20px;
        position:absolute;
    }
    header div.subrab a.material-icons{
        width:25px; height:25px; display: inline-block; vertical-align: middle;
    }
    header div.subrab > input[type='button']{
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        background-image: url('../images/cart.png');
        background-size:25px 25px;
        width:25px;
        height:25px;
        margin-left: 2%;
    }

    header aside{
        display: none;
    }

    header aside.active {
        width:350px;
        height: 1000px;
        background-color: rgb(244,244,246);
        position: absolute;
        right:0;
        z-index: 9;
        display: block;
    }
    header aside.active input[type='button'].btn_close{
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        background-image: url('../images/cancel.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        padding: 25px;
        display: block;
        margin-left: auto;
    }
    header aside.active h2 {
        font-size: 24px;
        text-align: center;
        border-top:1px solid black;
        border-bottom: 1px solid black;
        padding:15px 0 15px 0;
        margin-bottom:25px;
    }
    header aside.active#cartSidePanelEmpty p {
        text-align: center;
        margin-bottom:25px;
    }
    header aside.active#cartSidePanelEmpty input[type='button']:nth-child(4) {
        font-size: 20px;
        background-color: transparent;
        padding:15px;
        width:80%;
        margin-left:10%;
        box-sizing: border-box;
    }
    header aside.active#cartSidePanel ul li img{
        width:50%;
        min-width: 221px;
        float:left;
    }
    header aside.active#cartSidePanel ul::after {
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header aside.active#cartSidePanel h2 {
        margin-bottom:0;
    }
    header aside.active#cartSidePanel ul li dl {
        padding-top: 45px;
    }
    header aside.active#cartSidePanel ul li dl dt {
        font-weight: 700;
        padding-bottom:25px;
    }
    header aside.active#cartSidePanel ul li dl dd {
        padding-bottom:25px;
    }
    header aside.active#cartSidePanel div.total {
        width:100%;
        height:5%;
        background-color: rgb(224, 224, 224);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:45px;
    }
    header aside.active#cartSidePanel a {
        width:70%;
        height: 5%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color:white;
        margin:0 auto;
    }


    /*footer*/
    footer {
        position:relative;
        background-color: rgb(244,244,246);
        z-index: 999;
    }
    footer::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer > div {
        width: 20%;
        float: left;
        margin-left:5%;
        font-size:15px;
    }
    footer > div::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer > div > h3 {
        padding:45px 0 45px 0;
        font-weight: 700;
    }
    footer div:first-child {
        margin-top:0px;
    }
    footer > div:first-child > p:last-child {
        position:absolute;
        bottom:20px;
    }
    footer div > ul > li {
        padding-bottom:45px;
    }
    footer div form div.newsLetter fieldset h3 {
        font-weight: 700;
        padding:45px 0 45px 0;
    }
    footer div > form > div.newsLetter fieldset input#userEmail {
        border-width:0 0 2px 0;
        background-color:transparent;
        width:80%;
    }

    footer div > form > div.newsLetter ul {
        display: none;
    }

    footer.active{
        padding-top: 550px;
        position:relative;
    }
    footer.active > div > h3 {
        padding:45px 0 45px;
    }
    footer.active > div:first-child > p:last-child {
        position:absolute;
        bottom:20px;
    }
    footer.active div form div.newsLetter{
        position: absolute; width: 100%;
        left: 0%; top: 0; box-sizing: border-box;
        border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;
        padding-top:45px;
    }
    footer.active div form div.newsLetter fieldset {
        float: left;
        width:96%;
        margin:0 2%;
    }
    footer.active div form div.newsLetter fieldset::after {
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer.active div form div.newsLetter fieldset h3 {
        padding-top:0px;
    }
    footer.active div > form > div.newsLetter fieldset input#userEmail{
        width:100%;
    }
    footer.active div form div.newsLetter fieldset input[type='email']{
        float: left; display: block;
        width: 100%;
    }
    footer.active div form div.newsLetter fieldset input[type='email']::after {
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer.active div form div.newsLetter ul{
        width: 100%; float: left; display: block;
        padding-top:20px;
    }
    footer.active div form div.newsLetter ul::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer.active div form div.newsLetter ul li {
        float: left;
        width:96%;
        margin:0 2%;
        padding-bottom: 20px;
    }
    footer.active div form div.newsLetter ul li label {
        display: block;
        padding-bottom:5px;
        color:rgb(104, 104, 104);
    }
    footer.active div form div.newsLetter ul li span select {
        border-width:0 0 2px 0;
        background-color:transparent;
        width:100%;
    }
    footer.active div form div.newsLetter ul li span select:hover {
        cursor: pointer;
    }
    footer.active div form div.newsLetter ul li:nth-child(2) input[type='text']{
        border-width:0 0 2px 0;
        background-color:transparent;
        margin-top:20px;
        width: 100%;
    }
    footer.active div form div.newsLetter ul li:nth-child(3) {
        position:relative;
    }
    footer.active div form div.newsLetter ul li:nth-child(3) p{
        margin-bottom:50px;
        padding-top:20px;
        color:rgb(104, 104, 104)
    }
    footer.active div form div.newsLetter ul div {
        width:100%;
        margin:0;
    }
    footer.active div form div.newsLetter ul div input {
        width:100px;
        height: 50px;
    }
    footer.active div form div.newsLetter ul div input[type='submit']{
        float: left;
        width:100%;
        margin-bottom:20px;
    }
    footer.active div form div.newsLetter ul div input[type='reset']{
        float:right;
        width:100%;
    }
}





/*pc*/
@media screen and (min-width: 1280px){
    /*header*/
    header div.logorab, section:not(section.mainContainer),article.aboutContainer, footer{
        max-width: 1480px;
        margin: 0 auto;
    }
    header {
        padding-top: 40px;
        position: fixed;
        width: 100%;
        background-color: rgb(244,244,246);
        z-index: 999;
    }
    header::after {
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header div.logorab{
        position: relative;
    }
    header div.logorab h1{
        text-align: center; margin-bottom: 15px; max-width: 385px; margin: 0 auto;
    }
    header div.logorab h1 a{
        display: block;
    }
    header div.logorab h1 a img{
        width: 100%;
    }
    header nav > ul{
        position: relative; text-align: center;
    }
    header nav > ul li{
        display: inline-block; line-height: 60px; padding:0 20px;
    }
    header nav > ul > li a{
        display: block;
    }
    header nav > ul > li ul{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: white;
        display: none;
    }
    header nav > ul > li:hover ul{
        display: block;
    }
    header div.subrab {
        position:absolute;
        top:10px;
        right:2%;
        width:20%;
        min-width: 270px;
    }
    header div.subrab form{
        display: inline-block; vertical-align: middle;
    }
    header div.subrab fieldset{
        position:relative;
        border-bottom:1px solid black;
        margin-right: 30px;
    }
    header div.subrab fieldset input[type='text']{
        background-color:transparent;
        border:none;
    }
    header div.subrab fieldset input[type='submit']{
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        background-image: url('../images/search.png');
        background-size:100% 100%;
        width:20px;
        height:20px;
        position:absolute;
    }
    header div.subrab a.material-icons{
        width:25px; height:25px;  display: inline-block; vertical-align: middle;
    }
    header div.subrab > input[type='button']{
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        background-image: url('../images/cart.png');
        background-size:100% 100%;
        width:25px;
        height:25px;
        margin-left:2%;
    }

    header aside{
        display: none;
    }

    header aside.active {
        width:500px;
        height: 1000px;
        background-color: rgb(244,244,246);
        position: absolute;
        right:0;
        z-index: 9;
        display: block;
    }
    header aside.active input[type='button'].btn_close{
        background-color: transparent;
        border: none;
        text-indent: -9999px;
        background-image: url('../images/cancel.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        padding: 25px;
        display: block;
        margin-left: auto;
    }
    header aside.active h2 {
        font-size: 24px;
        text-align: center;
        border-top:1px solid black;
        border-bottom: 1px solid black;
        padding:15px 0 15px 0;
        margin-bottom:25px;
    }
    header aside.active#cartSidePanelEmpty p {
        text-align: center;
        margin-bottom:25px;
    }
    header aside.active#cartSidePanelEmpty input[type='button']:nth-child(4) {
        font-size: 20px;
        background-color: transparent;
        padding:15px;
        width:80%;
        margin-left:10%;
        box-sizing: border-box;
    }
    header aside.active#cartSidePanel ul li img{
        width:50%;
        min-width:265px;
        float:left;
    }
    header aside.active#cartSidePanel ul::after {
        content: ''; display: block; visibility: hidden; clear: both;
    }
    header aside.active#cartSidePanel h2 {
        margin-bottom:0;
    }
    header aside.active#cartSidePanel ul li dl {
        padding-top: 45px;
    }
    header aside.active#cartSidePanel ul li dl dt {
        font-weight: 700;
        padding-bottom:25px;
    }
    header aside.active#cartSidePanel ul li dl dd {
        padding-bottom:25px;
    }
    header aside.active#cartSidePanel div.total {
        width:100%;
        height:5%;
        background-color: rgb(224, 224, 224);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:45px;
    }
    header aside.active#cartSidePanel a {
        width:70%;
        height: 5%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color:white;
        margin:0 auto;
    }


    /*footer*/
    footer {
        position:relative;
        background-color: rgb(244,244,246);
        z-index: 999;
    }
    footer::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer > div {
        width: 20%;
        float: left;
        margin-left:5%;
        font-size:15px;
    }
    footer > div::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer > div > h3 {
        padding:45px 0 45px 0;
        font-weight: 700;
    }
    footer div:first-child {
        margin-top:0px;
    }
    footer > div:first-child > p:last-child {
        position:absolute;
        bottom:20px;
    }
    footer div > ul > li {
        padding-bottom:45px;
    }
    footer div form div.newsLetter fieldset h3 {
        font-weight: 700;
        padding:45px 0 45px 0;
    }
    footer div > form > div.newsLetter fieldset input#userEmail {
        border-width:0 0 2px 0;
        background-color:transparent;
        width:80%;
    }

    footer div > form > div.newsLetter ul {
        display: none;
    }

    footer.active{
        padding-top: 350px;
        position:relative;
    }
    footer.active > div > h3 {
        padding:45px 0 45px;
    }
    footer.active > div:first-child > p:last-child {
        position:absolute;
        bottom:20px;
    }
    footer.active div form div.newsLetter{
        position: absolute; width: 100%;
        left: 5%; top: 0; box-sizing: border-box;
        border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;
        padding-top:45px;
    }
    footer.active div form div.newsLetter fieldset {
        float: left;
        width:20%;
        margin-right: 45px;
    }
    footer.active div form div.newsLetter fieldset::after {
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer.active div form div.newsLetter fieldset h3 {
        padding-top:0px;
    }
    footer.active div form div.newsLetter fieldset input[type='email']{
        float: left; display: block; padding: 0;
        width: 100%;
    }
    footer.active div form div.newsLetter fieldset input[type='email']::after {
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer.active div form div.newsLetter ul{
        width: 75%; float: left; display: block;
        padding-top:40px;
    }
    footer.active div form div.newsLetter ul::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer.active div form div.newsLetter ul li {
        float: left;
        width:25%;
        margin-right:45px;
    }
    footer.active div form div.newsLetter ul li label {
        display: block;
        padding-bottom:5px;
        color:rgb(104, 104, 104);
    }
    footer.active div form div.newsLetter ul li span {
        padding-right:200px;
    }
    footer.active div form div.newsLetter ul li span select {
        border-width:0 0 2px 0;
        background-color:transparent;
        width:100%;
    }
    footer.active div form div.newsLetter ul li span select:hover {
        cursor: pointer;
    }
    footer.active div form div.newsLetter ul li:nth-child(2) input[type='text']{
        border-width:0 0 2px 0;
        background-color:transparent;
        margin-top:20px;
        width: 100%;
    }
    footer.active div form div.newsLetter ul li:nth-child(3) {
        position:relative;
    }
    footer.active div form div.newsLetter ul li:nth-child(3) p{
        margin-bottom:50px;
        padding-top:20px;
        color:rgb(104, 104, 104)
    }
    footer.active div form div.newsLetter ul div {
        width:100%;
        margin:0;
    }
    footer.active div form div.newsLetter ul div input {
        width:100px;
        height: 50px;
    }
    footer.active div form div.newsLetter ul div input[type='submit']{
        float: left;
    }
    footer.active div form div.newsLetter ul div input[type='reset']{
        float:right;
    }
}






